<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tools _ Trick FB</title>
    <link rel="shortcut icon"
    href="/favicon.ico">
    <link rel="stylesheet"
        href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet"
        href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet"
        href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet"
        href="assets/css/styles.min.css">
</head>

<body id="page-top"><a href="#"
        class="menu-toggle rounded"><i class="fa fa-bars"></i></a>
    <nav style="background-color: black;"
        class="navbar navbar-light navbar-expand"
        id="sidebar-wrapper">
        <div class="container"><button class="navbar-toggler d-none"
                data-toggle="collapse"
                data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav"
                    id="sidebar-nav">
                    <li class="nav-item sidebar-brand"
                        role="presentation"><a class="nav-link active js-scroll-trigger"
                            href="/">Trang chủ</a></li>
                    <li class="nav-item sidebar-nav-item"
                        role="presentation"><a class="nav-link js-scroll-trigger"
                            href="/tools/lay-danh-sach-mail-ngau-nhien">Lấy Mails</a></li>
                    <li class="nav-item sidebar-nav-item"
                        role="presentation"><a class="nav-link js-scroll-trigger"
                            href="/tools/kiem-tra-dangki-fb">Kiểm Tra Đăng Kí Fb</a></li>
                    <li class="nav-item sidebar-nav-item"
                        role="presentation"><a class="nav-link js-scroll-trigger"
                            href="/tools/kiem-tra-dang-ki-mails">Kiểm Tra đăng kí Mails</a></li>
                    <li class="nav-item sidebar-nav-item"
                        role="presentation"><a class="nav-link js-scroll-trigger"
                            href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead"
        style="background-image:url('assets/img/bg-masthead.jpg');">
        <div class="container my-auto text-center">
            <h1 class="mb-1"
                style="color: #fb0000;background-color: #2525;border-radius: 20px;">Tools Check hotMail</h1>
            <h3 class="mb-5"><em>A Free web appliction</em></h3>
            <div class="overlay"></div>
        </div>
    </header>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Tools hiện có</h2>
                <p class="text-center">Tools được tạo ra trên website , giúp anh em không dùng máy tính thuận
                    tiện get check hotmail hơn nha !</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="/tools/lay-danh-sach-mail-ngau-nhien"><img class="img-fluid"
                            src="assets/img/desk.jpg"></a>
                    <h3 class="name">Lấy hotMail ngẫu nhiên</h3>
                    <p class="description">Tool gúp anh em lấy hotmail ngẫu nhiên theo yêu cầu</p><a
                        href="/tools/lay-danh-sach-mail-ngau-nhien"
                        class="action"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="/tools/kiem-tra-dang-ki-mails">
                        <img
                        class="img-fluid"
                        src="assets/img/loft.jpg"></a>
                    <h3 class="name">Kiểm tra đăng kí outlook</h3>
                    <p class="description">Tool giúp anh em "check live die " kiểm tra mail đã đăng kí outlook
                        chưa á!!</p><a href="/tools/kiem-tra-dang-ki-mails"
                        class="action"><i class="fa fa-arrow-circle-right"></i></a>
                </div>

                <div class="col-sm-6 col-md-4 item"><a href="/tools/kiem-tra-dangki-fb"><img class="img-fluid"
                            src="assets/img/building.jpg"></a>
                    <h3 class="name">Kiểm Tra đăng kí FB</h3>
                    <p class="description">Tool giúp kiểm tra bất kì mail tài khoản nào đã đăng kí FB chưa nha
                        !</p><a href="/tools/kiem-tra-dangki-fb"
                        class="action"><i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Chức năng hiện có</h3>
                        <ul>
                            <li><a href="/tools/lay-danh-sach-mail-ngau-nhien">Get Random hotMail</a></li>
                            <li><a href="/tools/kiem-tra-dangki-fb">Check đăng kí FB</a></li>
                            <li><a href="/tools/kiem-tra-dang-ki-mails">Check live die</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Chức năng đang nâng cấp</h3>
                        <ul>
                            <li>Tool auto view YT</li>
                            <li>Tool Tăng giờ xem YT</li>
                            <li><a href="#">Tool check acc cổ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Thông tin tác giả</h3>
                        <p>Hiện tại chúng tôi đang sửa lỗi và nâng cấp hệ thống, nếu có lỗi xảy ra hãy load
                            lại trang !.</p>
                    </div>
                    <div class="col item social"><a href="https://web.facebook.com/xxxxxx565"><i class="icon ion-social-facebook"></i></a><a
                            href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Tools BaoLe's © 2019</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>